body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  max-width: 600px;
  margin: 0 auto;
}

/* Click Event Styles */
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.click-btn {
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
}

.click-btn:hover {
  cursor: pointer;
  background-color: #2d6830;
  font-weight: 600;
}

.counter-label {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

