/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9px;
}
.card-name {
  font-size: 20px;
  font-weight: bold;
}
.card-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
